#Backend ENV
# Shared across services
MONGO_URI=mongodb+srv://arshartisan:stayease2026@clusterstayease.xjhzvkc.mongodb.net/?appName=ClusterStayEase
INTERNAL_SERVICE_KEY=stayease-internal-secret-2026
NODE_ENV=development

# Auth Service
PORT=3000
JWT_SECRET=jwt-super-secret-change-in-prod
JWT_EXPIRES_IN=15m
REFRESH_SECRET=refresh-super-secret
REFRESH_EXPIRES_IN=7d
LISTING_SERVICE_URL=http://listing-service:3001
RESERVATION_SERVICE_URL=http://reservation-service:3002
NOTIFICATION_SERVICE_URL=http://notification-service:3003
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# Notification Service
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=arshaq0506@gmail.com
SMTP_PASS=yrhl knmc cyla cfoz
SMTP_FROM=StayEase <noreply@stayease.com>

# PostgreSQL (booking-service)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=stayeasy_booking

# Kafka
KAFKA_BROKERS=kafka:9092
